@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    box-sizing: border-box;
    
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 10px 5%;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 16px;
    
    
}

input::placeholder {
    color: black;
    
}
.nav-links, #header {
    background-color: rgb(209, 205, 239);
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

li, a {
    color: black;
    text-decoration: none;
    
}

#header-img {
    max-width: 5%;
    cursor: pointer;
    margin-right: auto;
        
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    
}

nav a:hover {
    color: rgb(15, 49, 197);
}

iframe {
    border: 5x;
    background-color: grey;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    max-width: 100%;
    min-width: 100px;
    aspect-ratio: 16/9;
}

body {
    font-family: calibri;
    background-color: rgb(222, 220, 237);
    
}

.main-section {
    padding-right: 200px;
    padding-left: 200px;
    position: relative;

}

ul > li {
    list-style-position: inside;
}

li {
    text-align: center;
}

.hr-1 {
    max-width: 562px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    margin: auto;
    display: flex;
    position: relative;
}


h1, h4 {
    margin-bottom: -15px;
    font-family: "Dela Gothic One";
}

#pricing h2 {
    margin: 0;
    margin-bottom: 10px;
}


#submit {
    font-family: calibri;
    background: linear-gradient(#010585, #193DC3, #9EAFF1);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0;
    border: none;
    margin: auto;
    
}

#email, #submit {
    display: block;
    margin: auto;
   
}

#email {
    max-width: 240px;
    background-color: rgb(177, 191, 249);
    color: black;
    
}

div.submit {
    margin-top: 3px;
}

h3 {
    text-align: center;
    margin-bottom: 5px;
    font-family: "Dela Gothic One";
}

#pricing h2 {
	margin: 0;
    margin-bottom: 5px;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    border: 1px solid black;
    padding: 0 0 8px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    
}
.product .price {
    font-family: "Dela Gothic One";
 	font-size: 24px;
 
}

.product button {
    margin-top: auto;
}

.product .size {
    width: 100%;
}

.btn {
    max-width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-color:rgb(209, 205, 239);
    background: linear-gradient(#010585, #193DC3, #9EAFF1);
    color: white;

}

.size {
    background-color: rgb(188, 188, 248);
    text-align: center;
    margin-top: 5px;
    font-weight: bold;

}

h2 {
    margin-bottom: 5px;
    font-family: "Dela Gothic One";
}

#p-contact {
    margin-top: -5px;
}

footer {
    background-color: rgb(209, 205, 239);
    color: black;
    font-family: calibri;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    flex: 1;
    align-items: flex-end;
    font-weight: bold;
    margin-right: 5px;
}

ul li {
    list-style: none;
}